02_dependencies/paftools.js
02_dependencies/plot_gcskew.py
02_dependencies/gcskew.py
03_test_Data/test_streptococcus_polished_dnaA-pos-1526474_nonOVERLAPING.fasta
04_OUTPUTTest/
06_analysis/
03_test_Data/
04_OUTPUTTest/
04_OUTPUTTest_02/
99_OMA/
99_OrthoDB/
.Rproj.user
